body {
  position: relative;
  width: auto;
  box-sizing: border-box;

  font-family: "Lato", serif;

  padding-top: 60px;
  
  overflow-x: hidden;
}

button {
  font-family: "Lato", serif;
}

:root {
  /* Color Palette */

  /* Base Colors - body + main section colors */
  --base-1: rgb(150, 126, 75);
  --base-2: rgb(187, 166, 107);
  --base-3: rgb(158, 118, 32);
  --base-4: rgb(58, 51, 34);

  --base-5: rgb(160, 130, 55);
  --base-6: #F1E3C6;
  --base-7: #D4B597;
  --base-8: #C08B65;

  --base-9: #B66A4F;
  --base-10: #9B4138;
  --base-11: #7E3D3A;
  --base-12: #C5A995;

  --base-13: #8A4D35;
  --base-14: #D08357;
  --base-15: #C5A995;
  --base-16: #dda303;

  --base-17: #ca5d15;
  --base-18: #4B4945;
  --base-19: #ca5d15;
  --base-20: #4B4945;

  /* Accent Colors - buttons + highlights  */
  --accent-1: #c7991c;
  --accent-2: rgb(230, 149, 1);
  --accent-3: #daaf43;
  --accent-4: rgb(247, 193, 76);

  --accent-5: rgb(238, 197, 14);
  --accent-6: #DAA520;
  --accent-7: #FFC107;
  --accent-8: #FFBF00;

  --accent-9: #FFDB58;
  --accent-10: #D4AF37;
  --accent-11: #F9C74F;
  --accent-12: #FFCB69;

  --accent-13: #d86100;
  --accent-14: #d84f00;
  --accent-15: #d83d00;
  --accent-16: #c49a11;

  --accent-17: #e4bd3c;
  --accent-18: #e4bd3c;
  --accent-19: #e4bd3c;
  --accent-20: #e4bd3c;


  /* Soft Whites + Soft Blacks */
  --soft-black-1: #333333;
  --soft-black-2: #202020;
  --soft-black-3: #5f5f5f;
  --soft-black-4: #777777;

  --soft-white-1: #FAF9F6;
  --soft-white-2: rgb(173, 173, 173);
  --soft-white-3: rgb(204, 203, 203);
  --soft-white-4: rgb(241, 241, 241);
  

  --main-shadow: 2px 2px 8px rgba(66, 59, 38, 0.9);
  --inset-shadow: inset 2px 2px 10px rgba(66, 59, 38, 0.9);

  --company-title-height: 2.5rem;
  --header-height: 50px;
  --sidebar-width: 75vw;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 15px;
  }

  body {
    padding-top: 0;
  }
}

@media screen and (min-width: 768.1px) and (max-width: 1000px) {
  :root {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000.1px) {
  :root {
    font-size: 20px;
  }
}

.contact-icons {
  display: flex;
  position: fixed;
  
  
  z-index: 50;
  gap: 0.75rem;
}

@media screen and (max-width: 768px) {
  .contact-icons {
    flex-direction: column;
    top: calc(var(--company-title-height) + 1rem);
    right: calc(var(--sidebar-width) + 1rem) ;
  }
}

@media screen and (min-width: 768.1px) {
  .contact-icons {
    top: calc(var(--company-title-height) + var(--header-height) + 1rem);
    right: 1rem;
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;

  background-color: white;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  pointer-events: none;
  transition: ease 300ms;
}

.facebook-icon {
  height: inherit;
  width: inherit;
  border-radius: inherit;
}

a {
  text-decoration: none;
}